body {
  height: 100%;
  font-family: 'Raleway', sans-serif;  
  background-color: #fff;
}
svg {
  padding: 10px;
  background-color: #fff;
}
h2 {
  color: #B9D8C2;
  font-size: 75px;
}
.fixed {
  position: fixed;
  top: 0;
  z-index: 2;

}
/******************
* MAP
******************/

#canvas-svg {
  display: inline-block;
  position: relative;
  float: left;
  border-right: solid #8AA1B1;
}
  #sliderNum {
    position: absolute;
    bottom: 20px;
    right: 100px;
    font-size: 100px;
    important color: #aaa;
  }

.slider {
  margin: 10px;
  margin-left: 0px;
  z-index: 1;
}
.fixedSlider { 
  position: fixed;
  top: 50px;
}
#dataZoom {
  display: inline-block;
  vertical-align: top;
  padding-bottom: 50px;
}
#temp {
  display: inline-block;
  width: 600px;
  border: solid black;
}
.boundary {
  fill: none;
  stroke: #fff;
  stroke-width: 1px;
}
.yearAxis {
  margin-bottom: 10px;
  color: #647F54;
  z-index: 2;
}
.fixedYearAxis {
  position: fixed;
  top: 80px;
}
#sliderAxis {
  width: 750px;
}
#rightSideTitle {
  float: right;
  color: #000;
  width: 400px;
  text-align: center;
}
#tick1 {
  display: inline-block;
  left: 0px;
  margin-right: 320px;
}
#tick2 {
  display: inline-block;
  margin-right: 320px;
  left: 320px;
}
#tick3 {
  display: inline-block;
  left: 700px;
}
#chordG {
  display: inline-block;
  vertical-align: top;

}
/******************
* Buttons
******************/

button {
  border: none;
  color: #000;
  width: 367.5px;
  background-color: #fff;
  padding: 10px;
  border: solid #8AA1B1;
}
#buttons {
  text-align: center;
  width: 740px;
  margin: 10px;
  margin-left: 0px;
}
button:hover {
  color: #fff;
  cursor: pointer;
  background-color: #8AA1B1;
}
#play {
  display: inline-block;
  width: 740px;
  vertical-align: top;
}

/******************
* Tool Tips
******************/

#tooltip-container {
  position: absolute;
  background-color: #fff;
  color: #000;
  padding: 10px;
  border: 1px solid;
  display: none;
  font-size: 10px;
  z-index: 1;
}
path:hover {
  cursor: pointer;
}
.tooltip_key {
  font-weight: bold;
}

.tooltip_value {
  margin-left: 20px;
  float: right;
}

/******************
* Slider
******************/
.container {
  width: 720px;
  padding: 20px;
}
#slider2 {
  width: 740px;
  color: #aaa;
}
input[type=range] {
    /*removes default webkit styles*/
    -webkit-appearance: none;
    
    /*fix for FF unable to apply focus style bug */
    border: 1px solid white;
    
    /*required for proper track sizing in FF*/
    width: 300px;
}
input[type=range]::-webkit-slider-runnable-track {
    width: 300px;
    height: 5px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: goldenrod;
    margin-top: -4px;
}
input[type=range]::-webkit-slider-thumb:hover {
  cursor: pointer;
}
input[type=range]:focus {
    outline: none;
}
input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ccc;
}

input[type=range]::-moz-range-track {
    width: 300px;
    height: 5px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}
input[type=range]::-moz-range-thumb {
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: goldenrod;
}

/*hide the outline behind the border*/
input[type=range]:-moz-focusring{
    outline: 1px solid white;
    outline-offset: -1px;
}

input[type=range]::-ms-track {
    width: 300px;
    height: 5px;
    
    /*remove bg colour from the track, we'll use ms-fill-lower and ms-fill-upper instead */
    background: transparent;
    
    /*leave room for the larger thumb to overflow with a transparent border */
    border-color: transparent;
    border-width: 6px 0;

    /*remove default tick marks*/
    color: transparent;
}
input[type=range]::-ms-fill-lower {
    background: #777;
    border-radius: 10px;
}
input[type=range]::-ms-fill-upper {
    background: #ddd;
    border-radius: 10px;
}
input[type=range]::-ms-thumb {
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: goldenrod;
}
input[type=range]:focus::-ms-fill-lower {
    background: #888;
}
input[type=range]:focus::-ms-fill-upper {
    background: #ccc;
}

/******************
* Bar Graph
******************/

.clicked {
  background-color: #647F54;
}
#dataZoom text {
  font-size: 10px;
  fill: #000;
}
.axis  {
  border: solid blue;
}
#dataZoom rect {
  fill: #8AA1B1;
 -webkit-transition: width 1s;
 transition: width 1s;
}
path {
  transition: .5s;
}

p {
  display: inline;
}
.land {
  fill: #222;
}

/******************
* Chord Diagram
******************/
text.titles {
  font-size: 6px;
}
