body {
  height: 100%;
  font-family: 'Raleway', sans-serif;  
  background-color: #647F54;
}
svg {
  padding: 10px;
  background-color: #fff;
}
h2 {
  color: #96CC75
}

/******************
* MAP
******************/

#canvas-svg {
  display: inline-block;
}
#dataZoom {
  display: inline;
  vertical-align: top;
  padding: 20px;
}
.boundary {
  fill: none;
  stroke: #fff;
  stroke-width: 1px;
}

/******************
* Buttons
******************/

button {
  border: none;
  color: #fff;
  width: 30%;
  background-color: #000;
  padding: 10px;
  border: solid #000;
}
#buttons {
  text-align: center;
  width: 720px;
  margin: 10px;
}
button:hover {
  cursor: pointer;
  background-color: #647F54;
}

/******************
* Tool Tips
******************/

#tooltip-container {
  position: absolute;
  background-color: #fff;
  color: #000;
  padding: 10px;
  border: 1px solid;
  display: none;
  font-size: 10px;
}
path:hover {
  cursor: pointer;
}
.tooltip_key {
  font-weight: bold;
}

.tooltip_value {
  margin-left: 20px;
  float: right;
}

/******************
* Slider
******************/
.container {
  width: 720px;
  padding: 20px;
}
#slider2 {
  width: 720px;
}

/******************
* Bar Graph
******************/

.clicked {
  background-color: #647F54;
}
#dataZoom text {
  font-size: 10px;
  fill: #647F54;
  height: 720px;
}
#dataZoom rect {
  fill: #96CC75;
 -webkit-transition: width 1s;
 transition: width 1s;
}
path {
  transition: .5s;
}

p {
  display: inline;
}
.land {
  fill: #222;
}

